@charset "utf-8";
/* Tablets */

body{
    background: url(../imagens/back-tablet.jpg) center center fixed no-repeat;
    background-size: cover;
}

img#cel{display: none;}
img#tab{display: block;}
img#pc{display: none;}
img#imp{display: none;}
img#tv{display: none;}